<div class="header-wrapper">
    <a class="menu-wrapper" (click)="toggleSidebar()">
        <div class="ham-wrapper">
        <div class="ham-bar"></div>
        <div class="ham-bar"></div>
        <div class="ham-bar"></div>
        </div>
        <span>Menú</span>
    </a>

    <div class="option-wrapper">
        <div class="item">
            <a href="javascript:void(0)" class="dropdown-toggle">
                <img src="../../../assets/images/profile.png" alt="profile image" class="profile-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- <li class="dropdown-header">
                    Name
                </li> -->
                <li class="link">
                    <a href="javascript:void(0)">
                        Profile
                    </a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="item">
            <a href="javascript:void(0)" class="dropdown-toggle">
                <img src="../../../assets/images/profile.png" alt="profile image" class="profile-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- <li class="dropdown-header">
                    Name
                </li> -->
                <li class="link">
                    <a href="javascript:void(0)">
                        Profile
                    </a>
                </li>
                <li class="link">
                    <a href="javascript:void(0)">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
